body{
    background: linear-gradient(
        135deg,
        #2a0e46,
        #2a313c
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.color-whitesmoke{
    color: whitesmoke;
}

.color-goldenrod{
    color: goldenrod;
}

.dynamic-sizing-1{
    font-size: clamp(2rem, 3vw , 5rem);
    margin-bottom: clamp(1rem, 12vh, 10rem);
}

fieldset{
    background-color: rgb(6, 41, 30);
}

#password-strength-field{
    font-weight: bolder;
}

